In [43]:
import pandas as pd
import os

#Load Data
data = pd.read_csv(r'raw_movie_reviews\movie_reviews9\the_matrix_resurrections_I.csv')

#Set Movie Title
title = "The Matrix Resurrections"

#drop unnecessary columns
data = data.drop(columns=['point-scale','actions','display-name-link href'])
data.columns

Index(['rating-other-user-rating', 'title', 'title href', 'display-name-link',
       'review-date', 'text', 'actions href'],
      dtype='object')

In [44]:
#rename columns
data = data.rename(columns={'rating-other-user-rating':'rating',
                            'title':'comment_title',
                            'display-name-link':'username',
                            'review-date':'datetime',
                            'title href':'review_link',
                            'text':'review'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4721 entries, 0 to 4720
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rating         4656 non-null   float64
 1   comment_title  4721 non-null   object
 2   review_link    4721 non-null   object
 3   username       4721 non-null   object
 4   datetime       4721 non-null   object
 5   review         4719 non-null   object
 6   actions href   4721 non-null   object
dtypes: float64(1), object(6)
memory usage: 258.3+ KB

In [45]:
# Setting Movie Name & Data Cleaning
data['movie_name'] = title

# Drop duplicates but keep the first occurrence
data = data.drop_duplicates()

# Trim leading and trailing whitespace from the 'review' column
data['review'] = data['review'].str.strip()

# Take rows where 'rating' or 'review' are not empty strings or null after trimming
data = data[(data['rating'].notna() & (data['rating'] != '')) & (data['review'].notna() & (data['review'] != ''))]

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4654 entries, 0 to 4711
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rating         4654 non-null   float64
 1   comment_title  4654 non-null   object
 2   review_link    4654 non-null   object
 3   username       4654 non-null   object
 4   datetime       4654 non-null   object
 5   review         4654 non-null   object
 6   actions href   4654 non-null   object
 7   movie_name     4654 non-null   object
dtypes: float64(1), object(7)
memory usage: 327.2+ KB

In [ ]:
# # Append or concatenate dataframes to imdb
# def assign_sentiment(rating):
#     if 1 <= rating <= 4:
#         return 'negative'
#     elif 5 <= rating <= 6:
#         return 'neutral'
#     elif 7 <= rating <= 10:
#         return 'positive'
#     else:
#         return None  # or 'unknown', if ratings are outside the 1-10 range

# # Apply the function to the 'rating' column to create a new 'sentiment' column
# data['sentiment'] = data['rating'].apply(assign_sentiment)
# # data = data.drop(columns=['rating'])
# data['sentiment'].value_counts()

In [ ]:
print('Ensure your columns is exactly match with following \n Expected Columns: [movie_name, comment_title, username, datetime, review_link, rating, review] \n Actual Columns:', data.columns.tolist())
# Set Counting
i = 0

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4654 entries, 0 to 4711
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rating         4654 non-null   float64
 1   comment_title  4654 non-null   object
 2   review_link    4654 non-null   object
 3   username       4654 non-null   object
 4   datetime       4654 non-null   object
 5   review         4654 non-null   object
 6   actions href   4654 non-null   object
 7   movie_name     4654 non-null   object
 8   sentiment      4654 non-null   object
dtypes: float64(1), object(8)
memory usage: 363.6+ KB

In [49]:
new_column_order = ['id', 'movie_name', 'comment_title', 'username', 'datetime', 'review_link', 'rating', 'review']

# Save to CSV
def save_to_csv(df, filename):
    
    # Check if the file exists
    if os.path.exists(filename):
        
        # Read the existing data
        existing_df = pd.read_csv(filename)
        
        # Find the maximum id value
        max_id = existing_df['id'].max()
        
        # Set the id for the new DataFrame, starting from max_id + 1
        df['id'] = range(int(max_id) + 1, int(max_id) + 1 + len(df))
        
        # Concatenate the new data with the existing data
        combined_df = pd.concat([existing_df, df], ignore_index=True)
        
    else:
        # If the file doesn't exist, start ids from 1 for the new DataFrame
        df['id'] = range(111488, 111488 + len(df))
        
        combined_df = df

    # Save the combined DataFrame to CSV
    combined_df = combined_df[new_column_order]
    
    # Ensuring the columns are in the same order as in the `data` DataFrame
    combined_df.to_csv(filename, index=False, columns=combined_df.columns)

# Usage
if i == 0:
    # Warning only run 1 time, run again to will caused duplicate rows
    save_to_csv(data, r'raw_datasets\dataset9.csv')
    i += 1
else:
    print('Warning only run 1 time, run again to will caused duplicate rows')